* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #6F6F6E; }

h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 50px; }

h2 {
  font-size: 1.4rem;
  text-align: center;
  color: #134C9A; }

p {
  font-size: 1.2rem;
  text-align: justify; }

li {
  font-size: 1.2rem; }

.clear {
  clear: both; }

@media (min-width: 481px) {
  html, body {
    font-size: 12px; } }
@-webkit-keyframes slideDown {
  from {
    top: 6px; }
  to {
    top: 13px; } }
@-webkit-keyframes slideDownInverse {
  from {
    top: 13px; }
  to {
    top: 6px; } }
@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }
@-webkit-keyframes rotateRightInverse {
  0% {
    -webkit-transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-webkit-keyframes slideUp {
  from {
    bottom: 6px; }
  to {
    bottom: 13px; } }
@-webkit-keyframes slideUpInverse {
  from {
    bottom: 13px; }
  to {
    bottom: 6px; } }
@-webkit-keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-45deg); } }
@-webkit-keyframes rotateLeftInverse {
  0% {
    -webkit-transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(0deg); } }
@-webkit-keyframes fixedLogo {
  from {
    -webkit-transform: translateY(45px); }
  to {
    -webkit-transform: translateY(0px); } }
#navBar {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  height: 50px;
  box-shadow: 0px 1px 3px #888888;
  background-color: white; }
  #navBar a img {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    background-color: white; }

#menu {
  border-top: 1px solid white;
  position: fixed;
  z-index: 9;
  right: 0;
  left: 0; }
  #menu ul {
    margin: 0;
    position: absolute;
    background-color: white;
    z-index: 2;
    left: 0;
    right: 0; }
    #menu ul li {
      height: 40px; }
      #menu ul li:first-child {
        display: none; }
      #menu ul li a {
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: grey;
        width: 100%;
        display: block; }
        #menu ul li a:hover {
          background-color: #134C9A;
          color: white; }

.closeMenu {
  top: -280px;
  transition: top 0.4s ease-in-out; }

.openMenu {
  top: 50px;
  transition: top 0.4s ease-in-out; }

.displayMiddle {
  opacity: 0;
  transition: opacity 0.1s ease; }

#burger_menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 30px;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer; }
  #burger_menu div {
    position: relative;
    height: 100%;
    margin: auto;
    width: 25px; }
    #burger_menu div #top, #burger_menu div #middle, #burger_menu div #bottom {
      position: absolute;
      height: 2px;
      background-color: black;
      margin: auto;
      width: 100%;
      border-radius: 3px; }
    #burger_menu div #top {
      top: 6px; }
    #burger_menu div #middle {
      top: 13px; }
    #burger_menu div .blockMiddle {
      opacity: 1;
      transition: opacity 0.1 ease; }
    #burger_menu div #bottom {
      bottom: 6px; }

@media (min-width: 769px) {
  #burger_menu {
    display: none; }

  #navBar {
    display: none;
    height: 150px;
    z-index: 0;
    background-color: transparent;
    position: inherit; }
    #navBar a img {
      width: 150px;
      height: 150px; }

  #menu {
    position: inherit;
    height: 80px;
    border: none; }
    #menu ul {
      /*position: absolute;
      right: 20px;
      height: 50px;
      left: initial;*/
      height: 80px;
      line-height: 80px;
      text-align: center;
      transition: background-color 0.3s ease;
      /* .desktopLogoNoFixed {
          height: 100px;
          width: 100px;
       }*/ }
      #menu ul #desktopLogo {
        background: url("../images/logos_svg/logo_couleur.svg") no-repeat center;
        background-size: contain;
        height: 80px;
        width: 100px;
        left: 30px;
        top: 0;
        position: absolute; }
        #menu ul #desktopLogo:before {
          content: "";
          background-color: transparent; }
      #menu ul .desktopLogoFixed {
        -webkit-animation-name: "fixedLogo";
        -webkit-animation-duration: 0.3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-fill-mode: forwards; }
      #menu ul li {
        height: 50px;
        display: inline-block; }
        #menu ul li a {
          position: relative;
          /*color: $text-light;*/
          height: 50px;
          padding: 0 10px;
          line-height: 50px;
          border-top: solid 1px transparent; }
          #menu ul li a:hover {
            color: #6F6F6E;
            background-color: transparent; }
          #menu ul li a:before {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            height: 1px;
            width: 0%;
            background-color: #7AB92F;
            transition: width 0.2s ease; }
          #menu ul li a:hover:before {
            width: 100%; }
        #menu ul li .home_picto {
          /* &:hover {
               background-color: transparent;
               color:  $text-light;
               border-top: solid 1px transparent;
           }*/ }
        #menu ul li .linksFixed {
          color: #6F6F6E; }
          #menu ul li .linksFixed:hover {
            color: #6F6F6E; }
    #menu .fixedMenu {
      position: fixed;
      background-color: white;
      height: 80px;
      line-height: 80px;
      z-index: 10; } }
@media (min-width: 1100px) {
  #menu ul li:first-child {
    display: initial; } }
header {
  float: left;
  margin-top: 50px; }
  header img {
    width: 100%; }

/* .parralax1 {
     display: block;
     background: url("../images/couv1.jpg") fixed;
     height: 600px;
     background-size: cover;
     background-position: center;
 }
 .parralax2 {
     display: block;
     background: url("../images/couv2.jpg") fixed;
     height: 600px;
     background-size: cover;
     background-position: center;
 }
 .parralax3 {
     display: block;
     background: url("../images/couv3.jpg") fixed;
     height: 600px;
     background-size: cover;
     background-position: center;
 }*/
@media (min-width: 769px) {
  header {
    margin-top: 0;
    float: none; }
    header .item {
      position: relative; }

  #headerCarousel {
    /*img {
    	display: none;
    }*/ } }
section {
  margin-bottom: 20px;
  clear: both; }
  section aside p:first-of-type {
    color: #134C9A; }

#section1 .row {
  margin: 0; }
#section1 .content_descent {
  padding: 20px;
  border-radius: 3px; }

#section2 .blockPanzoom {
  border: 1px solid #DDD;
  padding: 5px;
  border-radius: 5px; }
  #section2 .blockPanzoom .panzoom img {
    max-width: 100%; }
#section2 span {
  display: inline-block;
  float: left;
  width: 50px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  color: #FFF;
  background-color: #134C9A; }
#section2 .btn-group {
  left: 50%;
  margin-top: 10px;
  margin-left: -100px; }
  #section2 .btn-group button {
    padding: 0;
    width: 50px;
    height: 34px;
    margin: 0;
    border: 1px solid #DDD; }

#section3 {
  margin-bottom: 0; }
  #section3 h1 {
    margin-bottom: 50px; }
  #section3 .prices_table {
    margin-bottom: 5px;
    font-size: 1.2rem; }
    #section3 .prices_table .prices {
      height: 40px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border: 1px solid;
      border-color: #CCC; }
      #section3 .prices_table .prices #contentPrices {
        line-height: 40px;
        padding-left: 4px; }
        #section3 .prices_table .prices #contentPrices p {
          margin: 0; }
    #section3 .prices_table select {
      height: 40px;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      cursor: pointer; }
  #section3 .prices_titles {
    padding: 0; }
    #section3 .prices_titles div {
      background-color: #134C9A;
      color: #FFF;
      height: 30px;
      padding-left: 10px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
      #section3 .prices_titles div p {
        line-height: 30px; }

#section3 .prices_table:last-child {
  margin: 0; }

.advices {
  background-color: #134C9A;
  padding: 30px 0; }
  .advices p {
    margin: 0;
    color: #FFF; }

#howToPay {
  padding: 20px 0; }
  #howToPay p {
    text-align: center; }
    #howToPay p:first-of-type {
      font-weight: 600; }

#section4 {
  background-color: #134C9A;
  color: #FFF;
  padding-bottom: 40px; }
  #section4 p:first-of-type {
    text-align: center;
    margin-bottom: 20px; }
  #section4 .services {
    margin: 0; }
    #section4 .services div div div {
      background-color: #FFF;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 20px; }
      #section4 .services div div div .pictos {
        text-align: center;
        line-height: 44px;
        color: #134C9A;
        width: 44px;
        font-size: 2rem; }

@media (min-width: 769px) {
  #section1 {
    /*.content_descent {
    	position: relative;
    	background-color: rgba(0, 0, 0, .08);
    	border: 5px solid white;
    	padding: 10px;
    }*/
    /*.circle {
    	&:before {
    		content: "";
    		position: absolute;
    		width: 50px;
    		height: 50px;
    		background-color: $flashColor;
    		bottom: -30px;
    		right: -30px;
    		width: 50px;
    		height: 50px;
    		border: 11px solid white;
    		border-radius: 100%;
    		z-index: 1;
    	}
    }*/ }
    #section1 #slick {
      background: url("../images/canoe.svg") no-repeat;
      background-position: 180px 90px; }
    #section1 > div {
      position: relative;
      border-radius: 5px;
      /*top: -150px;*/
      padding: 20px;
      background-color: white; }

  /*.advices {
  	position: relative;
  	top: -45px;
  	p {
  		text-align: center;
  	}
  	&:after {
  		content: "";
  		background: url('../images/advices_after.svg') no-repeat center;
  		height: 21px;
  		width: 100%;
  		position: absolute;
  		bottom: -20px;
  		right: 0;
  		left: 0;
  	}
  }*/
  #section2 {
    position: relative;
    /*top: -150px;*/ }

  #section3 {
    position: relative;
    margin-bottom: 0;
    /*top: -150px;*/ }
    #section3 .table thead tr th {
      padding: 0;
      border: none; }
      #section3 .table thead tr th span {
        display: block;
        border: 1px solid #DDD;
        padding: 8px;
        margin: 5px 5px;
        color: #134C9A; }
    #section3 .table td {
      padding: 0;
      border: none; }
      #section3 .table td span {
        display: block;
        border: 1px solid #DDD;
        padding: 8px;
        margin: 5px 5px;
        height: 55px;
        color: #134C9A; }
      #section3 .table td .centerPrices {
        line-height: 35px;
        text-align: center; }

  #howToPay {
    background-color: inherit; }

  /*#howToPay {
  	position: relative;
  	top: -5px;
  }*/
  /*#section4 {
  	position: relative;
  	top: -5px;
  	width: 700px;
  	margin: auto;
  	.container {
  		width: inherit;
  	}
  	.services {
  		div {
  			margin-bottom: 20px;
  			div {
  				margin-top: 0;
  			}
  		}
  	}
  }*/ }
/*@media (min-width: 1200px) {
	#section4 {
		&:before {
			content: "";
			position: absolute;
			width: 350px;
			height: 350px;
			background: url("../images/couv1.jpg") no-repeat center;
			background-size: cover;
			border: 25px solid white;
			border-radius: 100%;
			left: -290px;
			top: 190px;
		}
	}
}*/
@keyframes bounce {
  from {
    transform: translateY(-3px); }
  to {
    transform: translateY(-7px); } }
footer {
  position: absolute;
  margin-top: 50px;
  width: 100%; }
  footer ul {
    text-align: center; }
    footer ul li {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin: 0 10px; }
      footer ul li:last-child {
        position: absolute;
        right: 30px;
        animation: bounce 0.4s ease infinite alternate; }
      footer ul li a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #6F6F6E;
        font-size: 2rem; }
      footer ul li .facebook:hover {
        color: #3B5998; }
      footer ul li .tripadvisor:hover {
        color: #589442; }
      footer ul li .google:hover {
        color: #dc4e41; }
    footer ul .backToTop a {
      font-size: 3rem; }
      footer ul .backToTop a:hover {
        color: inherit; }
  footer p {
    text-align: center; }

#blockFotos {
  margin-top: 50px;
  position: relative; }
  #blockFotos p {
    margin-bottom: 20px; }
  #blockFotos h1 {
    margin-bottom: 50px; }
  #blockFotos .slider-for div img {
    max-width: 100%; }
  #blockFotos .slider-nav {
    margin-top: 5px; }
    #blockFotos .slider-nav div {
      margin: 0 5px;
      position: relative; }
      #blockFotos .slider-nav div img {
        max-width: 100%; }
    #blockFotos .slider-nav .slick-next {
      background: url("../images/arrow_right.svg") no-repeat center;
      background-size: contain;
      right: 50%;
      margin-right: -40px; }
    #blockFotos .slider-nav .slick-prev {
      background: url("../images/arrow_left.svg") no-repeat center;
      background-size: contain;
      left: 50%;
      margin-left: -40px; }
    #blockFotos .slider-nav .slick-slide:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.5;
      transition: background 2s ease; }
    #blockFotos .slider-nav .slick-current:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      opacity: 0.5; }

@media (min-width: 481px) and (max-width: 769px) and (orientation: portrait) {
  #fotos footer {
    position: absolute;
    bottom: 0; } }
@media (min-width: 769px) {
  #blockFotos {
    margin-top: 0; } }
#reservation {
  margin-top: 50px; }
  #reservation h1 {
    text-transform: uppercase; }
  #reservation P {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px; }
  #reservation .form-inline {
    width: 80%;
    margin: auto; }
    #reservation .form-inline .form-group .input-group {
      width: 100%;
      margin-top: 10px; }
      #reservation .form-inline .form-group .input-group .input-group-addon {
        width: 40px; }
        #reservation .form-inline .form-group .input-group .input-group-addon .fa-2x {
          font-size: 1.7rem; }
    #reservation .form-inline .form-group .paypal {
      position: relative;
      margin-top: 10px;
      margin-bottom: 20px; }
      #reservation .form-inline .form-group .paypal .input-group {
        width: 70%;
        margin-top: 0; }
      #reservation .form-inline .form-group .paypal button {
        position: absolute;
        top: 0;
        margin-top: 0;
        right: 0;
        width: 25%;
        padding: 0;
        height: 34px; }
      #reservation .form-inline .form-group .paypal p {
        margin: 0;
        margin-top: 5px;
        width: inherit;
        color: #134C9A; }
    #reservation .form-inline .form-group button {
      margin: auto;
      display: block;
      width: 100px;
      margin-top: 10px; }
    #reservation .form-inline .form-group select {
      margin-top: 10px;
      width: 100%; }
    #reservation .form-inline .form-group textarea {
      margin-top: 10px;
      width: 100%; }

@media (min-width: 769px) {
  #reservation {
    margin-top: 0; }
    #reservation p {
      width: 50%; }
    #reservation .form-inline {
      width: 50%; } }
#sectionPartners {
  margin-top: 50px; }
  #sectionPartners .row {
    margin-top: 30px; }
    #sectionPartners .row .blockPartner .thumbnail {
      position: relative; }
      #sectionPartners .row .blockPartner .thumbnail .caption p {
        width: 100%; }
        #sectionPartners .row .blockPartner .thumbnail .caption p a {
          width: 100%; }

@media (min-width: 481px) {
  #sectionPartners .row .blockPartner {
    margin-bottom: 20px;
    height: 700px; }
    #sectionPartners .row .blockPartner .thumbnail {
      height: 100%; }
      #sectionPartners .row .blockPartner .thumbnail .caption p a {
        width: 90%;
        position: absolute;
        bottom: 20px; } }
@media (min-width: 769px) {
  #sectionPartners {
    margin-top: 0; }
    #sectionPartners .row .blockPartner {
      height: 670px; } }
.carousel-indicators {
  z-index: 1; }

.section3 .row {
  margin: 0; }

.table {
  margin-bottom: 0; }

.form-inline .form-control {
  display: inherit; }

/* Dots */
.slick-slider {
  /* margin-bottom: 30px;*/ }

.slick-dots {
  margin-top: 20px;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  /*list-style: none;*/
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  background-color: #DDD;
  border: 0;
  outline: none; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  content: '';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
  background-color: #134C9A; }

/*arrows*/
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  /*top: 50%;*/
  display: block;
  width: 20px;
  height: 20px;
  /* margin-top: -10px;*/
  bottom: -30px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 1;
  /*background: transparent;*/ }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  /*background: transparent;*/ }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-slide {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
