@-webkit-keyframes slideDown{
  from {top: 6px;}
  to {top: 13px;}
}

@-webkit-keyframes slideDownInverse{
  from {top: 13px;}
  to {top: 6px;}
}

@-webkit-keyframes rotateRight{
  0%{ -webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(45deg);}
}

@-webkit-keyframes rotateRightInverse{
  0%{ -webkit-transform: rotate(45deg);}
  100%{-webkit-transform: rotate(0deg);}
}

@-webkit-keyframes slideUp{
  from {bottom: 6px;}
  to {bottom: 13px;}
}

@-webkit-keyframes slideUpInverse{
  from {bottom: 13px;}
  to {bottom: 6px;}
}

@-webkit-keyframes rotateLeft{
  0%{ -webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(-90deg);}
}

@-webkit-keyframes rotateLeftInverse{
  0%{ -webkit-transform: rotate(-90deg);}
  100%{-webkit-transform: rotate(0deg);}
}

@-webkit-keyframes fixedLogo{
  from {-webkit-transform: translateY(65px);}
  to{-webkit-transform: translateY(0px);}
}

@-webkit-keyframes reveal{
  from {-webkit-transform: translateX(-50px);}
  to{-webkit-transform: translateX(0px);}
}


#navbar {
    z-index: 10;
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 3px #888888;
    background-color: white;
        a {
            img{
                width: 100px;
                height: 50px; 
                margin-left: 10px;
                background-color: white;
            }
        }    
}
.fixedMenu {
    position: fixed;
    top: 0;
}

.noFixed {
    position: absolute;
    margin-top: -50px;
}


#menu {
    border-top: 1px solid white;
    z-index:9;
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    display: table;
        ul {
            display: table-cell;
            position: static;
            vertical-align: middle;
            margin: 0;
            /*position: absolute; */
            background-color: white;
            z-index: 2;
            left: 0;
            right: 0;	
            list-style: none;
            height: 100%;  
            margin-top: 50px;
            z-index: 10;
            li {
                height: 40px;
                &:first-child {
                    display: none;
                }
                a {
                    padding-left: 20px;
                    height: 40px;
                    line-height: 40px;
                    text-decoration: none;
                    color: grey;
                    width: 100%;
                    display: block;
                    &:hover {
                        background-color: #134C9A;
                        color: white;
                    }
                }
                 .reveal {
                        -webkit-animation-name: reveal;
                        -webkit-animation-delay: 0s;
                        -webkit-animation-duration: 2s;
                        -webkit-animation-fill-mode: forwards;
                    }
            }
            .hideLogo {
                position: absolute;
                background: url("../images/logos_svg/logo_couleur.svg") no-repeat center;
                opacity: 0;
                background-size: contain;
                height: 80px;
                width: 100px;
                left: 30px;
                 transition: opacity 0.4s ease;
            }
            .showLogo {
               -webkit-animation-name: "fixedLogo";
               -webkit-animation-duration: 0.3s;
               -webkit-animation-delay: 0s;
               -webkit-animation-fill-mode: forwards;
                background: url("../images/logos_svg/logo_couleur.svg") no-repeat center;
                background-size: contain;
                position: absolute;
                height: 80px;
                width: 100px;
                left: 30px;
                top: 0;
                opacity: 1;
                &:before {
                    content: "";
                    background-color: transparent;
                }
            }   
            .displayLogo {
                display: none;
            }
        }
}

.pushMenu {
    right: 0;
    transition: right 0.4s ease;
}

.closeMenu {
    right: -50%;
    transition: right 0.4s ease;
}

/*.openMenu {
    top: 50px;
    transition: top 0.4s ease-in-out;
}
*/
.displayMiddle {
    opacity: 0;
    transition: opacity 0.1s ease;
}

#burger_menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 30px;
	/*border: 1px solid black;
	border-color: rgba(0, 0, 0, .08);*/
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 15px;
    cursor: pointer;
        div {
            position: absolute;
            height: 2px;
            background-color: black;
            margin: auto;
            width: $burgerMenu-width;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            border-radius: 2px;
            &:after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: black;
                width: 100%;
                bottom: 7px;
                border-radius: 2px;
            }
            &:before {
                content: "";
                position: absolute;
                height: 2px;
                background-color: black;
                width: 100%;
                top: 7px;
                border-radius: 2px;
            }
               /* #top, #middle, #bottom {
                    position: absolute;
                    height: 2px;
                    background-color: black;
                    margin: auto;
                    width: 100%;
                    border-radius: 3px;
                }
                
                #top {
                    top: 6px;
                }

                #middle {
                    top: 13px;
                }

                .blockMiddle {
                    opacity: 1;
                    transition: opacity 0.1 ease;
                }

                #bottom {
                    bottom: 6px;
                }*/
        }             
}

@media (min-width: 769px) {
    #burger_menu {
        display: none;
    }

    #navbar {
        display: none;
        height: 150px;
        z-index: 0;
        background-color: transparent;
        position: inherit;
        a {
            img {
                width: 150px;
                height: 150px;
            }
        }
    }

    #menu {
        position: inherit;
        height: 80px;
        border: none;
        margin-top: -80px;
        ul {
            height: 80px;
            line-height: 80px;
            text-align: center;
            background-color: white;
            margin-top: 0;
            transition: background-color 0.3s ease;
            li {
                height: 50px;
                display: inline-block;
                &:first-child {
                    display: block;
                }
                a {
                    position: relative;
                    /*color: $text-light;*/
                    height: 50px;
                    padding: 0 10px;
                    line-height: 50px;
                    border-top: solid 1px transparent;
                    &:hover {
                        color: $text-color;
                        background-color: transparent;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        right: 0;
                        left: 0;
                        height: 1px;
                        width: 0%;
                        background-color: $flashColor;
                        transition: width 0.2s ease;
                    }
                     &:hover:before {
                            width: 100%;
                        }
                }
                #desktopLogo {
                    position: absolute;
                }
                .home_picto {
                   /* &:hover {
                        background-color: transparent;
                        color:  $text-light;
                        border-top: solid 1px transparent;
                    }*/
                }
                .linksFixed {
                    color: $text-color;
                    &:hover {
                        color: $text-color;;
                    }
                }
            }
        }
        .fixedMenu {
            position: fixed;
            /*background-color: white;
            height: 80px;
            line-height: 80px;
            z-index: 10;*/
            top: 0;
        }
        .noFixed {
            position: absolute;
            top: 100%;
            margin-top: -80px;
        }
    }
}

@media (min-width: 1100px) {
    #menu {
        ul {
            li {
                /*&:first-child {
                    display: initial;
                }*/
            }
        }
       
    }
}

