#reservation {
	margin-top: 50px;
	h1 {
		margin-top: 50px;
		text-transform: uppercase;
	}
	P {
		width: 80%;
		margin: auto;
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.form-inline {
		width: 80%;
		margin: auto;
		.form-group {
			.input-group {
				width: 100%;
				margin-top: 10px;
				.input-group-addon {
					width: 40px;
					.fa-2x {
						font-size: 1.7rem;
					}
				}
			}
			.paypal {
				position: relative;
				margin-top: 10px;
				margin-bottom: 20px;
				.input-group {
					width: 70%;
					margin-top: 0;
				}
				button {
					position: absolute;
					top: 0;
					margin-top: 0;
					right: 0;
					width: 25%;
					padding: 0;
					height: 34px;
				}
				p {
					margin: 0;
					margin-top: 5px;
					width: inherit;
					color: $primaryColor;
				}
			}
			button {
				margin: auto;
				display: block;
				width: 100px;
				margin-top: 10px;
			}
			select {
				margin-top: 10px;
				width: 100%;
			}
			textarea {
				margin-top: 10px;
				width: 100%;
			}
		}
	}
}