#sectionPartners {
	margin-top: 50px;
	.row {
		margin-top: 30px;
		.blockPartner {
			.thumbnail {
				position: relative;
				.caption {
					p {
						width: 100%;
						a {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 481px) {
	#sectionPartners {
		.row {
			.blockPartner {
				margin-bottom: 20px;
				height: $heightBlockPartners-sm;
				.thumbnail {
					height: 100%;
					.caption {
						p {
							a {
								width: 90%;
								position: absolute;
								bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 769px) {
	#sectionPartners {
		margin-top: 0;
		.row {
			.blockPartner {
					height: $heightBlockPartners-md;
				.thumbnail {					
				}
			}
		}
	}
}