* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: $text-color;
}

h1 {
	font-size: $h1;
	text-align: center;
	margin-top: 50px;
}

h2 {
	font-size: $h2;
	text-align: center;
	color: $primaryColor;
}

p {
	font-size: $p;
	text-align: justify;
}

li {
	font-size: $li;
}

.clear {
	clear: both;
}

.bg_white {
	background-color: white;
	position: relative;
}

@media (min-width: 481px){
	html, body {
		font-size: 12px;
	}
}