$primaryColor: #134C9A; // dark blue
$secondaryColor: #2B69AF; // normal blue
$tertiaryColor: #4E91CA; //light blue
$flashColor: #7AB92F; //green color
$text: #6F6F6E;

$h1: 1.8rem;
$h2: 1.4rem;
$p: 1.2rem;
$li: 1.2rem;


$burgerMenu-width: 25px;

