$primaryColor: #134C9A; // dark blue
$secondaryColor: #2B69AF; // normal blue
$tertiaryColor: #4E91CA; //light blue
$flashColor: #7AB92F; //green color
$lightBackground: #DDD; //grey color
$dark-color: #000;
$whiteBackground: #FFF;
$text-color: #6F6F6E;
$text-light: #FFF;


$h1: 1.8rem;
$h2: 1.4rem;
$p: 1.2rem;
$li: 1.2rem;

$burgerMenu-width: 25px;

$heightBlockPartners-sm: 700px;
$heightBlockPartners-md: 670px;

