header {
	float: left;
	margin-top: 50px;
		img {
			width: 100%;
		}
}

.parralax1 {
		display: none;
	}
	.parralax2 {
		display: none;
	}
	.parralax3 {
		display: none;
	}

@media (min-width: 769px) {
    header {
  		margin-top: 0;
  		float: none;
    }
    .parralax1 {
    	display: block;
    	background: url("../images/couv1.jpg") fixed;
    	height: 600px;
    	background-size: cover;
    	background-position: center;
    }
    .parralax2 {
    	display: block;
    	background: url("../images/couv2.jpg") fixed;
    	height: 600px;
    	background-size: cover;
    	background-position: center;
    }
    .parralax3 {
    	display: block;
    	background: url("../images/couv3.jpg") fixed;
    	height: 600px;
    	background-size: cover;
    	background-position: center;
    }

    #headerCarousel {
    	img {
    		display: none;
    	}
    }
}
