@-webkit-keyframes revealLogo{
  from {-webkit-transform: translateY(50px);}
  to{-webkit-transform: translateY(0px);}
}

@-webkit-keyframes revealHeader{
  from {opacity: 0;}
  to{opacity: 1;}
}

header {
/*	float: left;
*/    height: 60vh;
		img {
			width: 100%;
		}
}

 #bg_header {
        div {
            background: url("../images/couv3.jpg") top center no-repeat;
            height: 100%;
            position: fixed;
            width: 100%;
        }
        /*.homeLogo {
            width: 275px;
            height: 100px;
            left: 50%;
            margin-left: -137.5px;
            top: 100px;
            background: url("../images/logos_svg/logo_white.svg") no-repeat center;
            position: fixed;
            background-size: contain;
        }*/
    }
   
@media (min-width: 769px) {
    header {
  		margin-top: 0;
  		float: none;
        height: 100vh;
        .item {
            position: relative;
        }
    }

     #bg_header {
        div {
            -webkit-animation-name: revealHeader;
            -webkit-animation-delay: 0s;
            -webkit-animation-duration: 2s;
            -webkit-animation-fill-mode: forwards;
        }
        .homeLogo {
            width: 275px;
            height: 100px;
            left: 50%;
            margin-left: -137.5px;
            top: 100px;
            background: url("../images/logos_svg/logo_white.svg") no-repeat center;
            position: fixed;
            background-size: contain;
            -webkit-animation-name: revealLogo;
            -webkit-animation-delay: 0s;
            -webkit-animation-duration: 2s;
            -webkit-animation-fill-mode: forwards;
        }
    }
   
}
