header {
/*	float: left;
*/	margin-top: 50px;
    height: 60vh;
		img {
			width: 100%;
		}
}

 #bg_header {
        div {
            background: url("../images/couv3.jpg") center;
            height: 100%;
            background-size: cover;
            position: fixed;
            width: 100%;
        }
    }
   
@media (min-width: 769px) {
    header {
  		margin-top: 0;
  		float: none;
        height: 100vh;
        .item {
            position: relative;
        }
    }
}
