section {
	margin-bottom: 20px;
	clear: both;
	aside {
		p {
			&:first-of-type {
				color: $primaryColor;
			}
		}
	}	
}

#section1 {
	.row {
		margin: 0;
	}
	.content_descent {
		padding: 20px;
		border-radius: 3px;
	}
}

#section2 {
	.blockPanzoom {
		border: 1px solid $lightBackground;
		padding: 5px;
		border-radius: 5px;
		.panzoom {
			img {
				max-width: 100%;
			}
		}	
	}
	span {
		display: inline-block;
		float: left;
		width: 50px;
		height: 34px;
		line-height: 34px;
		border: 1px solid $lightBackground;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		text-align: center;
		color: $text-light;
		background-color: $primaryColor; 

	}
	.btn-group {
		position: relative;
		z-index: 99;
		left: 50%;
		margin-top: 10px;
		margin-left: -100px;
		button {
			padding: 0;
			width: 50px;
			height: 34px;
			margin: 0;
			border: 1px solid $lightBackground;
		}
	}
}

#section3 {
	margin-bottom: 0;
	h1 {
		margin-bottom: 50px;
	}
	.prices_table {
		margin-bottom: 5px;
		font-size: 1.2rem;
		.prices {
			height: 40px;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border: 1px solid;
			border-color: #CCC;
				#contentPrices {
					line-height: 40px;
					padding-left: 4px;
						p {
							margin: 0;
						}
				}
		}
		select {
			height: 40px;
			border-top-right-radius: inherit;
			border-top-left-radius: inherit;
			cursor: pointer;
		}
	}
	.prices_titles {
		padding: 0;
		div {
			background-color: $primaryColor;
			color: $text-light;
			height: 30px;
			padding-left: 10px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;

			p {
				line-height: 30px;
			}
		}
	}
}

#section3 .prices_table:last-child {
	margin: 0;
}

.advices {
	background-color: $primaryColor;
	padding: 30px 0;
		p {
			margin: 0;
			color: $text-light;
		}
}

#howToPay {
	padding: 20px 0;
	p {
		text-align: center;	
		&:first-of-type {
			font-weight: 600;
		}
	}
}

#section4 {
	background-color: $primaryColor;
	color: $text-light;
	padding-bottom: 40px;
		h1 {
			
		}
		p {
			&:first-of-type {
				text-align: center;
				margin-bottom: 20px;
			}
		}
	.services {
		margin: 0;
		div {
			div {
				div {
					background-color: $whiteBackground;
					width: 44px;
					height: 44px;
					border-radius: 100%;
					margin: auto;
					margin-bottom: 20px;
					margin-top: 20px;
					.pictos {
						text-align: center;
						line-height: 44px;
						color: $primaryColor;
						width: 44px;
						font-size: 2rem;
					}
				}
			}
		}
	}
	
}

@media (min-width: 769px) {

	#section1 {
		#slick {
			background: url("../images/canoe.svg") no-repeat;
			background-position: 180px 90px;
		}
		&>div {
			position: relative;
			border-radius: 5px;
			/*top: -150px;*/
			padding: 20px;
			background-color: white;
		}
		/*.content_descent {
			position: relative;
			background-color: rgba(0, 0, 0, .08);
			border: 5px solid white;
			padding: 10px;
		}*/
		/*.circle {
			&:before {
				content: "";
				position: absolute;
				width: 50px;
				height: 50px;
				background-color: $flashColor;
				bottom: -30px;
				right: -30px;
				width: 50px;
				height: 50px;
				border: 11px solid white;
				border-radius: 100%;
				z-index: 1;
			}
		}*/
	}

	/*.advices {
		position: relative;
		top: -45px;
		p {
			text-align: center;
		}
		&:after {
			content: "";
			background: url('../images/advices_after.svg') no-repeat center;
			height: 21px;
			width: 100%;
			position: absolute;
			bottom: -20px;
			right: 0;
			left: 0;
		}
	}*/

	#section2 {
		position: relative;
		/*top: -150px;*/
	}

	#section3 {
		position: relative;
		margin-bottom: 0;
		/*top: -150px;*/
		.table {
			thead {
				tr {
					th {
						padding: 0;
						border: none;
						span {
							display: block;
							border: 1px solid $lightBackground;
							padding: 8px;
							margin: 5px 5px;
							color: $primaryColor;
						}
					}
				}
			}
			td {
				padding: 0;
				border: none;
				span {
					display: block;
					border: 1px solid $lightBackground;
					padding: 8px;
					margin: 5px 5px;
					height: 55px;
					color: $primaryColor;
				}
				.centerPrices {
					line-height: 35px;
					text-align: center;
				}
			}
			
		}
	}

	#howToPay {
		background-color: inherit;
	}

	/*#howToPay {
		position: relative;
		top: -5px;
	}*/

	/*#section4 {
		position: relative;
		top: -5px;
		width: 700px;
		margin: auto;
		.container {
			width: inherit;
		}
		.services {
			div {
				margin-bottom: 20px;
				div {
					margin-top: 0;
				}
			}
		}
	}*/
}

/*@media (min-width: 1200px) {
	#section4 {
		&:before {
			content: "";
			position: absolute;
			width: 350px;
			height: 350px;
			background: url("../images/couv1.jpg") no-repeat center;
			background-size: cover;
			border: 25px solid white;
			border-radius: 100%;
			left: -290px;
			top: 190px;
		}
	}
}*/